@import '../../sass/main.scss';

.gallery{

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;
    border-radius: 25px;
    margin-left: 20px;
    margin-right: 20px;

    @include tablette {
    margin-left: 20px;
    margin-right: 20px;
    padding: 50px;
    gap: 50px;
    background-color: $color-tertiary;
    }

    @include desktop {
            padding: 50px;
            gap: 30px;
            background-color: $color-tertiary;
    }
         
}